Source: smplayer
Section: graphics
Priority: extra
Maintainer: Ricardo Villalba <rvm@users.sourceforge.net>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), zlib1g-dev, libqt4-dev
#Build-Depends: debhelper (>= 5), zlib1g-dev, qtbase5-dev, qt5-qmake, qtscript5-dev, qttools5-dev-tools, qt5-default, qtbase5-private-dev

Package: smplayer
Architecture: any
Pre-Depends: dpkg (>= 1.14.12ubuntu3)
Depends: ${shlibs:Depends}, mplayer | mplayer-nogui | mpv (>= 0.6.2)
Recommends: smplayer-themes, smplayer-skins, smtube, alsa-utils, x11-utils, pulseaudio-utils
Replaces: smplayer-translations, smplayer-l10n
Provides: smplayer-translations, smplayer-l10n
Description: A great media player
 SMPlayer is a graphical user interface (GUI) for the award-winning mplayer
 and also for mpv. But apart from providing access for the most common
 and useful options of mplayer and mpv, SMPlayer adds other interesting features
 like the possibility to play Youtube videos or search and download subtitles.
 One of the main features is the ability to remember the state of a
 played file, so when you play it later it will be resumed at the same point
 and with the same settings.
