# built qt files
/src/.moc
/src/.obj
/src/.ui
/src/qrc_*.cpp

# videopreview built files
/src/videopreview/.moc
/src/videopreview/.obj
/src/videopreview/.ui
/src/videopreview/.qmake.stash
/src/videopreview/Makefile
/src/videopreview/videopreview

# built translation files
/src/translations/*.qm

# qmake intermediate files
/svn_revision
/src/svn_revision.h
/src/.qmake.stash
/src/Makefile

# binaries
/src/smplayer
/webserver/simple_web_server
