[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Comment=A great MPlayer front-end
Comment[es]=A great MPlayer front-end
Comment[it]=Un grande front-end per MPlayer
Comment[ja]=MPlayer フロントエンド
Comment[nl]=Een uitstekend frontend voor MPlayer
Comment[pl]=Świetna nakładka na Mplayer
Comment[ru_RU]=Мощный интерфейс для MPlayer
Exec=smplayer %f
GenericName=A great MPlayer front-end
GenericName[es]=A great MPlayer front-end
GenericName[it]=Un grande front-end per MPlayer
GenericName[ja]=MPlayer フロントエンド
GenericName[nl]=Een uitstekend frontend voor MPlayer
GenericName[pl]=Świetna nakładka na Mplayer
GenericName[ru_RU]=Мощный интерфейс для MPlayer
Icon=smplayer
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;video/avi;video/mp4;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;
Name=SMPlayer
Type=Application
X-KDE-StartupNotify=false
