[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;Video;
Comment=A great MPlayer front-end
Exec=smplayer %U
GenericName=Media Player
Icon=smplayer
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;audio/aac;audio/flac;audio/ogg;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;video/webm;
Name=SMPlayer
Type=Application
X-KDE-StartupNotify=false

# Translations
Comment[ar]=واجهة-طرفية ممتازة للمشغل MPlayer
GenericName[ar]=مشغل وسائط

Comment[bg]=Чудесното MPlayer оформление
GenericName[bg]=Медиен плейър

Comment[cs]=Skvělý front-end MPlayeru
GenericName[cs]=Přehrávač

Comment[de]=Eine tolle MPlayer-Vorderseite
GenericName[de]=Medienwiedergabe

Comment[en_GB]=A great MPlayer front-end
GenericName[en_GB]=Media Player

Comment[es]=Un magnífico reproductor multimedia
GenericName[es]=Reproductor multimedia

Comment[eu]=MPlayer aurrealde bikain bat
GenericName[eu]=Multimedia Irakurgailua

Comment[fr]=Une excellente interface pour MPlayer
GenericName[fr]=Lecteur média

Comment[gl]=Unha excelente interface para MPlayer
GenericName[gl]=Reprodutor multimedia

Comment[he]=מגשר חזיתי MPlayer נהדר
GenericName[he]=נגן מדיה

Comment[hr]=Odlično MPlayer grafičko sučelje
GenericName[hr]=Medijski reproduktor

Comment[id]=MPlayer luar biasa dengan antarmuka
GenericName[id]=Media Player

Comment[ja]=高性能 MPlayer フロントエンド
GenericName[ja]=メディア プレーヤー

Comment[ko]=뛰어난 MPlayer 프론트엔드
GenericName[ko]=미디어 재생기

Comment[lt]=Nuostabi MPlayer sąsaja
GenericName[lt]=Media grotuvas

Comment[sq_AL]=Nje front-end i mrekullueshem per MPlayer.
GenericName[sq_AL]=Media Player

Comment[nl]=Een geweldig MPlayer-front-end
GenericName[nl]=Mediaspeler

Comment[pl]=Świetna nakładka dla MPlayera
GenericName[pl]=Odtwarzacz multimedialny

Comment[pt]=Uma interface para o MPlayer
GenericName[pt]=Reprodutor multimédia

Comment[pt_BR]=Uma excelente interface gráfica para o MPlayer
GenericName[pt_BR]=Reprodutor de mídias

Comment[ru]=Замечательная оболочка для MPlayer
GenericName[ru]=Проигрыватель мультимедиа

Comment[sk]=Skvelá nadstavba MPlayer-u
GenericName[sk]=Multimediálny prehrávač

Comment[sr]=Сјајно МПлејер сучеље
GenericName[sr]=Медија плејер

Comment[tr]=MPlayer harika bir ön uç
GenericName[tr]=Medya Oynatıcı

GenericName[uk]=Media Player

Comment[zh_CN]=强大的 MPlayer 前端
GenericName[zh_CN]=多媒体播放器

Comment[zh_TW]=一個優秀的 MPlayer 前端介面程式 
GenericName[zh_TW]=媒體播放器

Comment[ms_MY]=Merupakan bahagian-hadapan MPlayer yang hebat
GenericName[ms_MY]=Pemain Media

GenericName[km]=កម្មវិធី​ចាក់​មេឌា

Comment[nn_NO]=Eit fantastisk brukargrensesnitt for MPlayer
GenericName[nn_NO]=Mediaspelar
