[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Comment=A great GUI frontend for MPlayer and mpv
Exec=smplayer %U
GenericName=Media Player
Icon=smplayer
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;audio/aac;audio/flac;audio/ogg;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm+ogg;video/x-theora;video/webm;
Name=SMPlayer
Type=Application
X-KDE-Protocols=appending,archive,av,avdevice,bd,bdnav,bluray,bluraynav,br,brnav,cdda,concat,data,dvb,dvd,dvdnav,edl,fd,fdclose,ffmpeg,file,ftp,gopher,gophers,hex,http,httpproxy,https,lavf,md5,memory,mf,mms,mmsh,mmshttp,mmst,null,rtmp,rtmpe,rtmps,rtmpt,rtmpte,rtmpts,rtp,rtsp,rtsps,sftp,slice,smb,srt,srtp,tcp,tls,udp,unix
X-KDE-StartupNotify=false

# Translations
Comment[ar]=واجهة رسومية ممتازة للمشغلَين MPlayer وmpv
GenericName[ar]=مشغل وسائط

Comment[bg]=Чудесна графична обвивка за MPlayer и mpv
GenericName[bg]=Медиен плейър
Name[bg]=SMPlayer
Icon[bg]=smplayer

Comment[cs]=Skvělý grafický front-end pro MPlayer a mpv
GenericName[cs]=Přehrávač
Name[cs]=SMPlayer
Icon[cs]=smplayer

Comment[da]=En fremragende grafisk brugerflade til MPlayer og mpv
GenericName[da]=Medieafspiller
Name[da]=SMPlayer
Icon[da]=smplayer

Comment[de]=Eine tolle grafische Oberfläche für MPlayer und mpv
GenericName[de]=Medienwiedergabe
Name[de]=SMPlayer
Icon[de]=smplayer

Comment[el]=Ένα σπουδαίο γραφικό περιβάλλον χρήστη για το MPlayer και το mpv
GenericName[el]=Αναπαραγωγέας πολυμέσων
Name[el]=SMPlayer
Icon[el]=smplayer

Comment[en_GB]=A great GUI frontend for MPlayer and mpv
GenericName[en_GB]=Media Player
Name[en_GB]=SMPlayer
Icon[en_GB]=smplayer

Comment[es]=Un magnífico interfaz gráfico para MPlayer y mpv
GenericName[es]=Reproductor multimedia
Name[es]=SMPlayer
Icon[es]=smplayer

Comment[eu]=MPlayer eta mpv-rako aurrealde grafiko bikain bat
GenericName[eu]=Multimedia Irakurgailua
Name[eu]=SMPlayer
Icon[eu]=smplayer

Comment[fa]=یک رابط کاربری گرافیکی عالی برای MPlayer و mpv
GenericName[fa]=پخش‌کننده رسانه
Name[fa]=SMPlayer
Icon[fa]=smplayer

Comment[fr]=Une excellente interface graphique pour MPlayer et mpv
GenericName[fr]=Lecteur média
Name[fr]=SMPlayer
Icon[fr]=smplayer

Comment[gl]=Unha excelente interface gráfica para MPlayer e mpv
GenericName[gl]=Reprodutor multimedia
Name[gl]=SMPlayer
Icon[gl]=smplayer

Comment[he]=ממשק גרפי נהדר עבור MPlayer ו-mpv
GenericName[he]=נגן מדיה

Comment[hr]=Odlično grafičko sučelje za MPlayer i mpv
GenericName[hr]=Medijski reproduktor
Name[hr]=SMPlayer
Icon[hr]=smplayer

Comment[id]=Antarmuka grafis luar biasa untuk MPlayer dan mpv
GenericName[id]=Media Player
Name[id]=SMPlayer
Icon[id]=smplayer

Comment[it]=Un ottimo front-end grafico per MPlayer e mpv
GenericName[it]=Media Player
Name[it]=SMPlayer
Icon[it]=smplayer

Comment[ja]=MPlayer と mpv の優れたグラフィカルフロントエンド
GenericName[ja]=メディア プレーヤー
Name[ja]=SMPlayer
Icon[ja]=smplayer

Comment[ko]=MPlayer 및 mpv를 위한 뛰어난 GUI 프론트엔드
GenericName[ko]=미디어 재생기
Name[ko]=SMPlayer
Icon[ko]=smplayer

Comment[lt]=Puiki grafinė sąsaja MPlayer ir mpv
GenericName[lt]=Media grotuvas
Name[lt]=SMPlayer
Icon[lt]=smplayer

Comment[sq_AL]=Nje front-end grafik i mrekullueshem per MPlayer dhe mpv
GenericName[sq_AL]=Media Player
Name[sq_AL]=SMPlayer
Icon[sq_AL]=smplayer

Comment[nqo]=ߡߔߑߟߋߦߊ ߣߌ߫ ߡߔߝ ߢߊߞߘߐߟߊ ߓߘߍߓߊ
GenericName[nqo]=ߞߟߋߞߟߋ  ߘߐߞߊߙߊ߲ߝߋ߲

Comment[nl]=Een geweldig grafisch front-end voor MPlayer en mpv
GenericName[nl]=Mediaspeler
Name[nl]=SMPlayer
Icon[nl]=smplayer

Comment[pl]=Świetna graficzna nakładka dla MPlayera i mpv
GenericName[pl]=Odtwarzacz mediów
Name[pl]=SMPlayer
Icon[pl]=smplayer

Comment[pt]=Uma excelente interface gráfica para o MPlayer e o mpv
GenericName[pt]=Reprodutor multimédia
Name[pt]=SMPlayer
Icon[pt]=smplayer

Comment[pt_BR]=Uma excelente interface gráfica para o MPlayer e o mpv
GenericName[pt_BR]=Reprodutor de mídias
Name[pt_BR]=SMPlayer
Icon[pt_BR]=smplayer

Comment[ru]=Отличная графическая оболочка для MPlayer и mpv
GenericName[ru]=Проигрыватель мультимедиа
Name[ru]=SMPlayer
Icon[ru]=smplayer

Comment[sk]=Skvelý grafický front-end pre MPlayer a mpv
GenericName[sk]=Multimediálny prehrávač
Name[sk]=SMPlayer
Icon[sk]=smplayer

Comment[sr]=Сјајно графичко прочеље за МПлејер и мпв
GenericName[sr]=Медија плејер
Name[sr]=СМПлејер
Icon[sr]=smplayer

Comment[sv]=En mäktig grafisk framände till MPlayer och mpv
GenericName[sv]=Media Spelare
Name[sv]=SMPlayer
Icon[sv]=smplayer

Comment[th]=หน้าต่างกราฟิกที่ยอดเยี่ยมสำหรับ MPlayer และ mpv
GenericName[th]=เครื่องเล่นสื่อ
Name[th]=SMPlayer
Icon[th]=smplayer

Comment[tr]=MPlayer ve mpv için harika bir grafik ön uç
GenericName[tr]=Medya Oynatıcı
Name[tr]=SMPlayer
Icon[tr]=smplayer

Comment[uk]=Відмінний графічний інтерфейс для MPlayer та mpv
GenericName[uk]=Медія-програвач
Name[uk]=SMPlayer
Icon[uk]=smplayer

Comment[vi]=Giao diện đồ họa tuyệt vời cho MPlayer và mpv

Comment[zh_CN]=强大的 MPlayer 和 mpv 图形前端
GenericName[zh_CN]=多媒体播放器
Name[zh_CN]=SMPlayer
Icon[zh_CN]=smplayer

Comment[zh_TW]=一個優秀的 MPlayer 和 mpv 圖形前端介面程式
GenericName[zh_TW]=媒體播放器
Name[zh_TW]=SMPlayer
Icon[zh_TW]=smplayer

Comment[ms_MY]=Merupakan bahagian-hadapan grafik MPlayer dan mpv yang hebat
GenericName[ms_MY]=Pemain Media
Name[ms_MY]=SMPlayer
Icon[ms_MY]=smplayer

GenericName[km]=កម្មវិធី​ចាក់​មេឌា
Name[km]=SMPlayer
Icon[km]=smplayer

Comment[nn_NO]=Eit fantastisk grafisk brukargrensesnitt for MPlayer og mpv
GenericName[nn_NO]=Mediaspelar
Name[nn_NO]=SMPlayer
Icon[nn_NO]=smplayer
