[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Exec=smplayer -add-to-playlist %F
Icon=smplayer
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-scpls;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;
Name=Enqueue in SMPlayer
Name[es]=Añadir a la lista de reproducción de SMPlayer
Name[ja]=SMPlayer でエンキュー
Name[it]=In coda in SMPlayer
Name[nl]=In wachtrij van SMPlayer
Name[uk]=Додати до черги SMPlayer
Comment=Add file(s) to the SMPlayer playlist
Comment[es]=Añade ficheros a la lista de reproducción de SMPlayer
Comment[ja]=ファイルを SMPlayer のプレイリストに追加します
Comment[it]=Aggiungi alla lista di riproduzione di SMPlayer
Comment[nl]=Bestanden toevoegen aan de afspeellijst van SMPlayer
Comment[uk]=Додати файл(и) до переліку програвання SMPlayer
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
