[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;Video;
Exec=smplayer -add-to-playlist %U
Icon=smplayer
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;
Name=Enqueue in SMPlayer
Name[cs]=Přidat do fronty SMplayeru
Name[es]=Añadir a la lista de reproducción de SMPlayer
Name[hu]=Felvétel az SMPlayer lejátszólistára
Name[ja]=SMPlayer でエンキュー
Name[it]=In coda in SMPlayer
Name[nl]=In wachtrij van SMPlayer
Name[pt]=Colocar na fila do SMPlayer
Name[ru]=Добавить в очередь SMPlayer
Name[uk]=Додати до черги SMPlayer
Name[de]=In SMPlayer einreihen
Name[eu]=Lerrokatu SMPlayerren
Name[zh_CN]=添加到 SMPlayer 队列
Comment=Add file(s) to the SMPlayer playlist
Comment[cs]=Přidá soubor(y) do přehrávací fronty SMPlayeru
Comment[es]=Añade ficheros a la lista de reproducción de SMPlayer
Comment[hu]=Fájl(ok) hozzáadása az SMPlayer lejátszólistájához
Comment[ja]=ファイルを SMPlayer のプレイリストに追加します
Comment[it]=Aggiungi alla lista di riproduzione di SMPlayer
Comment[nl]=Bestanden toevoegen aan de afspeellijst van SMPlayer
Comment[pt]=Adicionar ficheiros à lista de reprodução do SMPlayer
Comment[ru]=Добавить файл(ы) в конец списка воспроизведения SMPlayer
Comment[uk]=Додати файл(и) до переліку програвання SMPlayer
Comment[de]=Datei(en) zur SMPlayer Wiedergabeliste hinzufügen
Comment[eu]=Gehitu agiria(k) SMPlayer irakur-zerrendara
Comment[zh_CN]=添加文件到 SMPlayer 播放列表
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
