QStatusBar,
QStatusBar QLabel {
	background: black;
	color: white;
}

QStatusBar::item {
	border: none;
}

ShareButton {
	margin: 0px;
	padding: 1px;
	background-color: black;
	border: 2px solid transparent;
	outline: none;
}

ShareButton:hover {
	/*
	background-color: black;
	border: 2px solid lightblue;
	border-radius: 6px;
	*/
}

ShareButton:pressed {
	background-color: black;
	border: 2px solid lightblue;
	border-radius: 6px;
}
